{% extends "base.html" %}

{% block content %}
<form action="/answer" method="POST">
    <fieldset>
        <legend>{{ question.question }}</legend>
        {% for choice in question.choices %}
        <div>
            <input type="radio" name="answer" value="{{ choice }}" id="{{ loop.index }}">
            <label for="{{ loop.index }}">{{ choice }}</label>
        </div>
    </fieldset>
    <input type="hidden" name="qid" value="{{ qid }}"
    <button type="submit">Submit</button>
</form>
{% endblock %}